<div class="text-center mt-2">	
    <button type="submit" class="btn btn-primary"> {{ send is defined ? 'ENVIAR' : 'GUARDAR'}}</button> 
    <button type="reset" class="btn btn-secondary">LIMPIAR</button>
    <a href="{{path('proyecto_index')}}" class="btn btn-secondary">CANCELAR</a>
</div>