<div class="col-xs-12 col-sm-6">
    <h3>Activaciones</h3>
    <table class="table table-bordered">
        <tr>
            <td>Activadas</td>
            <td>Programadas</td>
            <td>Disponibles</td>
        </tr>
        <tr>
            <td>{{activaciones_resume_data.activadas}}</td>
            <td>{{activaciones_resume_data.programadas}}</td>
            <td>{{activaciones_resume_data.disponibles}}</td>
        </tr>
    </table>
</div>