{% if entities %}
    <div class="col-xs-12 col-sm-6">
        <h3>Comentarios</h3>
        <table class="table table-bordered">
            <tr>
                <td>Fecha</td>
                <td>CDC</td>
                <td>Comentario</td>
            </tr>
            {% for activacion in entities %}
                {% for comentario in activacion.getComentariosByActivacion %}
                    <tr>
                        <td>{{comentario.fecha|localizeddate('short', 'none', app.request.locale)}}</td>
                        <td>{{comentario.activacion.cdc}}</td>
                        <td>{{comentario.comentario}}</td>
                    </tr>
                {% endfor  %}
            {% endfor %}
        </table>
    </div>
{% endif %}