<div class="col-xs-12 col-sm-6">
    <h3>Activaciones resumen</h3>
    <table class="table table-bordered">
        <tr>
            <td>Activaciones</td>
            <td>Planeadas</td>
            <td>Ejecutadas</td>
            <td>Venta</td>
        </tr>
        {% for key,data in resume_data %}
            <tr>
                <td>{{key}}</td>
                <td>{{data.Planeadas}}</td>
                <td>{{data.Ejecutadas}}</td>
                <td>{{data.Venta}}</td>
            </tr>
        {% endfor %}
    </table>
</div>